
build/classes/.netbeans_automatic_build

build/classes/.netbeans_update_resources

*.class

*.jar

nbproject/build-impl.xml

*.properties

nbproject/private/private.xml

manifest.mf

dist/README.TXT

nbproject/project.xml
